*
{background-color: black;
}
.hidden{
    display: none;
}

.quiz-title{
    text-align: center;
    font-family: fantasy;
    color: hotpink;
}

.quiz-title h2{
    color: yellow;
    font-family: monospace;
    text-align: center;
    font-size: 16px;
}

.start-container{
    display: flex;
    justify-content: center;
}

.start-button{
    background-color: white;
    font-family: monospace;
}

button:hover{
    background-color: yellow;
    cursor: pointer;
}

.question-container{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.question{
    color: white;
    padding: 0px, 20px, 0px, 20px;
    font-family: cursive;
    font-size: 20px;
}

.question-answer-a{
    color: turquoise;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.question-answer-b{
    color: plum;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.question-answer-c{
    color: mediumslateblue;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.question-answer-d{
    color: greenyellow;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.countdown-timer{
    color: yellow;
    font-size: 28px;
    margin: 40px;
}

h3{
    color: white;
}

.high-scores-container{
    color: hotpink;
}
